<h3>Lista de instrumentos</h3>
<div class="table-responsive">
    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Compra</th>
            </tr>
        </thead>
        <tbody>
            @for (instrument of instruments; track instrument.name) {
            <tr [ngClass]="{'nostock': instrument.stock == 0}">
                <td><img class="img-thumbnail" [src]="instrument.img" width="150" [alt]="instrument.name"></td>
                <td>{{instrument.name}}</td>
                <td>{{instrument.brand}}</td>
                <td>{{instrument.stock}}</td>
                <td>{{instrument.price | currency}}</td>
                <td>
                    @if (instrument.stock > 0) {
                        <app-input-integer 
                            [(quantity)]="instrument.quantity"
                            [max]="instrument.stock">
                        </app-input-integer>
                        <div class="row">
                            <div class="col-12 mt-2 mb-2">
                                <button class="btn btn-dark" (click)="addToCart(instrument)">Añadir</button>
                            </div>
                            <div class="col-12">
                                @if (instrument.clearance) {
                                    <span class="badge text-bg-success text-dark">En oferta!</span>
                                }
                            </div>
                        </div>
                    } @else if (instrument.stock == 0) {
                    <span class="badge bg-warning text-dark">Sin stock</span>
                    }
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="4">No hay instrumentos para mostrar.</td>
            </tr>
            }
        </tbody>
    </table>
</div>