<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Autor</th>
            <th>Instrument</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @for (sheet of sheets; track sheet.name) {
            <tr>
                <td><img [src]="sheet.img" width="150" [alt]="sheet.name"></td>
                <td>{{sheet.name}}</td>
                <td>{{sheet.autor}}</td>
                <td>{{sheet.instrument}}</td>
                <td [ngClass]="{'table-warning': sheet.clearance}">{{sheet.price | currency}}</td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4">No hay partituras para mostrar.</td>
            </tr>
        }
    </tbody>
</table>
